$header-color:#0c2f3d;
$header-color-sm:#114358;
$submenu-color: #0c2f3dfb;
$submenu-color-font: rgb(255, 255, 255);
$menu-color-font: rgba(255, 255, 255, 0.541);
$submenu-item-hover-color: #253f49;
$section-color: #19282F;
$amarillo-complemetario:#f8cd0d;
$titulos-sec-color:#D3ECA7;

// operaciones
$ancho:500px;    
$alto:100vh;

$var1:100%;
$var2:50%;


